.movie-containers {
  display: flex;
  .movie-item-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 78vh;
    width: 48vw;
    margin: 15px;
    padding: 10px;
    overflow: auto;

    h2 {
      color: #2c2220;
      font-family: "Paytone One", sans-serif;
    }
    .nom-header {
      display: flex;
      align-items: center;

      .max-noms {
        border-radius: 10px;
        margin-top: 0;
        margin-left: 50px;
        padding: 10px;
        background-color: red;
        text-transform: uppercase;
        font-family: "Paytone One", sans-serif;
      }
    }

    .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .movie-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 30%;
        border-radius: 10px;
        background-color: #715e5d;

        img {
          height: 230px;
          max-width: 160px;
          margin: 10px;
          border-radius: 5px;
        }

        h4 {
          margin: 0 10px 0 10px;
          font-family: "Rambla", sans-serif;
          color: white;
        }

        p {
          font-family: "Rambla", sans-serif;
          color: white;
        }

        button {
          display: inline-block;
          transition: all 0.4s ease-in-out 0s;
          border: none;
          border-radius: 5px;
          margin: 10px;
          padding: 10px;
          background-color: whitesmoke;
          cursor: pointer;
          color: black;
          outline: none;
          font-family: "Rambla", sans-serif;
        }

        .button-disabled {
          display: inline-block;
          transition: all 0.4s ease-in-out 0s;
          border: none;
          border-radius: 5px;
          margin: 10px;
          padding: 10px;
          background-color: whitesmoke;
          color: black;
          outline: none;
          font-family: "Rambla", sans-serif;
          text-decoration: line-through;
          cursor: not-allowed;
          pointer-events: none;
        }

        button:hover {
          box-shadow: 10px 45px -15px rgba(0, 0, 0, 0.57);
          background-color: #b39492;
          letter-spacing: 1px;
        }
      }
    }
  }
}
