body {
  background-color: lightblue;
  //reset
  h1,
  h2,
  h3,
  h4,
  p,
  img {
    margin: 0;
  }

  .App {
    display: flex;
    flex-direction: column;
    @import "_header";

    @import "_movieList";
  }
}
