@mixin buttonStyling {
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  outline: none;
  font-family: "Rambla", sans-serif;
}
